.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.jumbotron .container {
    width: 1170px;
}
.container {
    width: 92%;
}
.col-md-4 {
    text-align: center;
}
.col-md-4 p {
    display: block;
    margin: 12px auto;
}
.col-md-4 a {
    margin-bottom: 8px;
}
a.maket {
    margin: 5px auto 30px auto;
    display: block;
    width: 170px;
    transition: transform 0.2s ease;
    font-size: 0;
}
a.maket:hover{
    transform: scale(1.2);
    box-shadow: 0 0 4px 3px #337ab7;
}
a.maket img {
    border: 1px solid #337ab7;
}
.btn-jpeg,
.btn-psd {
    display: inline-block;
    /*margin-right: 5px;*/
    border-radius: 0;
}
.btn-jpeg {
    
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.btn-psd {
    background-color: #337ab7;
    color: white;
    border-color: #2e6da4;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: -5px;
}
.btn-psd:hover {
    background-color: #286090;
    color: white;
    border-color: #204d74;
}